# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.env
./src/flex-chat-d996e-firebase-adminsdk-haa8u-2ff4478b68.json
