rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /conversations/{conversationId} {
      allow create, read, update, delete;
    }
    match /conversation_members/{conversationMemberId} {
      allow create, read, update, delete;
    }
    match /messages/{messageId} {
      allow create, read, update, delete;
    }
    match /users/{userId} {
      allow create, read, update, delete;
    }
  }
}
